article.website-modal
	button.website-modal__cross.btn-reset
	h1.website-modal__title
	p.website-modal__category
	.website-modal__text
		p.website-modal__descr
		p.website-modal__technologies
	.website-modal__pages
		ul.website-modal__list
	.website-modal__image
		img.website-modal__img

.modal-overlay