body.scroll-3d
	height: var(--body-height)
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		height: 100%

@media screen and ( min-width: 1023.98px ) and ( any-hover: hover )
	.wrapper.scroll-3d
		position: fixed
		perspective: 1500px
		will-change: transform
		.slider
			transform-style: preserve-3d
			&__frame
				position: absolute
				will-change: transform
				opacity: 0
				width: 100%
				height: 100%
				transition: transform var(--transition-duration) var(--transition-function), opacity var(--transition-duration) var(--transition-function)

.slider
	width: 100%
	height: 100%
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		margin-top: 5rem
		max-width: 1600px
		margin: 0 auto
	&__frame
		display: flex
		justify-content: center
		align-items: center
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			&:not(:last-child)
				margin-bottom: 105px

.wrapper
	width: 100%
	height: 100%
	background-color: var(--color-black)

.slide
	position: relative
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		&:not(:last-child)
			&::after,
			&::before
				content: ''
				position: absolute
				left: 50%
				height: 2px
				background-image: linear-gradient(90deg, transparent, var(--color-white), transparent)
				transform: translateX(-50%)
				opacity: .4
			&::before
				width: 50%
				bottom: -57px
			&::after
				bottom: -45px
				width: 75%
	&__content
		max-width: 75%
		line-height: 2
		display: grid
		@media screen and ( max-width: 678px ), ( any-hover: none )
			max-width: 90%
		&--grid-cols
			grid-template-columns: repeat(2, 1fr)
			column-gap: var(--gutter)
			align-items: center
			@media screen and ( max-width: 678px )
				column-gap: calc(var(--gutter) / 2)
			@media screen and ( max-width: 576px )
				display: block
		&--grid-rows
			grid-template-rows: auto 1fr
			row-gap: calc(var(--gutter) / 2)
			.slide__subtitle
				text-align: center
	&__title
		max-width: 75%
		text-align: center
		font-size: clamp(16px, 2.5rem, 32px)
		margin: 0 auto
		font-weight: 100
		@media screen and ( max-width: 1023.98px )
			max-width: 90%
	&__subtitle
		font-weight: 100
		font-size: clamp(14px, 2rem, 28px)
		line-height: 1.5
		p
			&:not(:last-child)
				margin-bottom: 1rem
		@media screen and ( max-width: 576px )
			text-align: center
	&__image
		width: 100%
		height: auto
		max-height: 700px
		object-fit: contain
		filter: grayscale(0.65)
		pointer-events: none
		@media screen and ( max-width: 576px )
			margin-bottom: 15px
			max-height: 400px
	&__cards
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: calc(var(--gutter) / 3)
		position: relative
		align-items: center
		@media screen and ( max-width: 576px )
			display: block
			&-col
				&:not(:last-child)
					margin-bottom: 1em
	&__technologies
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 15px
		@media screen and ( max-width: 768px )
			gap: 5px

.card-technology
	min-width: 125px
	max-width: 250px
	font-size: 1rem
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	box-shadow: inset 0px 0px 20px 0px rgba(255,255,255, .3)
	transition: border-radius 0.6s ease
	padding: 2em 1.5em
	gap: 10px
	@media screen and ( max-width: 768px )
		box-shadow: inset 0px 0px 10px 0px rgba(255,255,255, .3)
		width: 90px
		min-width: unset
		padding: 15px 0
	&__title
		width: 100%
		text-align: center
		font-size: clamp(12px, 1.25em, 16px)
		line-height: 1.2
	&__image
		width: 3.5em
		min-width: 40px
		height: 3.5em
		min-height: 40px
		object-fit: contain

.card
	flex: 1 0 47%
	overflow: hidden
	border: 2px solid rgba(53, 53, 53, 0.8)
	border-radius: 15px
	transition: all 0.3s ease
	&:not(:last-child)
		margin-bottom: 1em
	@media screen and ( any-hover: hover )
		&:hover
			-webkit-box-shadow: 0px 0px 20px 0px rgba(rgba(53, 53, 53, 0.8), 0.75)
			-moz-box-shadow: 0px 0px 20px 0px rgba(rgba(53, 53, 53, 0.8), 0.75)
			box-shadow: 0px 0px 20px 0px rgba(rgba(53, 53, 53, 0.8), 0.75)
			transform: scale(1.03)
	&__title
		cursor: pointer
		padding: 1em
		padding-right: 2.5em
		font-weight: 300
		font-size: clamp(14px, 1.5rem, 18px)
		line-height: 1
		@media screen and ( max-width: 768px )
			padding: 15px
			padding-right: 30px
	&__text
		font-size: clamp(12px, 1rem, 16px)
		padding: 1.5rem 1.5em 0 1.5em
		line-height: 1.5
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			height: 2px
			background-image: linear-gradient(90deg, transparent, var(--color-white), transparent)
			transform: translateX(-50%)
			opacity: .4
			width: 75%
			top: 0px
		@media screen and ( min-width: 1200px )
			padding: 18px 1.5em 0 1.5em
		@media screen and ( max-width: 768px )
			padding: 14px 15px 0 15px
