
.about
	width: 10000px
	height: 5000px
	position: fixed
	top: 0
	left: 0
	background-color: tomato
	&__frame
		width: 100vw
		height: 100vh
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		display: flex
		justify-content: center
		align-items: center
	&__title
