
.about
	width: 4500px
	height: 2500px
	position: fixed
	top: 0
	left: 0
	&__frame
		width: 100%
		max-width: 1200px
		min-height: 800px
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		border: 5px solid red
		&--1
			top: 0%
			left: 0%
		&--2
			top: 500px
			left: 1300px
		&--3
			top: 200px
			left: 2700px
		&--4
			top: 1400px
			left: 2500px
		&--5
			top: 1600px
			left: 300px
	&__title
		width: 300px
		height: 300px
		background-color: plum
		border-radius: 50%
