.about
	border-radius: 30px
	width: 4500px
	height: 2500px
	position: fixed
	top: 0
	left: 0
	transform: translate(-2300px, -500px)
	background-color: var(--color-black)
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		max-width: 1600px
		margin: 0 auto
		border-radius: 0
		width: unset
		height: unset
		position: static
		transform: none
		margin-top: 5rem
	&.border
		box-shadow: 0px 0px 30px 15px rgba(97, 97, 97, 0.35) inset
	&.animation
		transition: transform 1s ease
	&__frame
		width: 100%
		max-width: 1200px
		min-height: 800px
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		@media screen and ( max-width: 1400px )
			max-width: 900px
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			position: relative
			max-width: unset
			min-height: unset
			&:not(:last-child)
				margin-bottom: 140px
				&::after,
				&::before
					content: ''
					position: absolute
					left: 50%
					height: 3px
					background-image: linear-gradient(90deg, transparent, var(--color-white), transparent)
					transform: translateX(-50%)
					opacity: .4
				&::before
					width: 60%
					bottom: -80px
				&::after
					width: 85%
					bottom: -60px
		@media screen and ( max-width: 600px )
			&:not(:last-child)
				margin-bottom: 80px
				&::after,
				&::before
					height: 2px
				&::before
					bottom: -50px
				&::after
					bottom: -40px
		&.show
			.about__frame-trigger
				opacity: 0
				visibility: hidden
				pointer-events: none
			.about__frame-content
				opacity: 1
				visibility: visible
				pointer-events: unset
				transition-delay: 0.3s
		&-content
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			align-items: center
			opacity: 0
			visibility: hidden
			pointer-events: none
			transition: all 0.3s ease
			transition-delay: 0s
			@media screen and ( max-width: 1023.98px ), ( any-hover: none )
				max-width: 90%
				opacity: 1
				visibility: visible
				pointer-events: unset
		&-trigger
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			width: 200px
			height: 200px
			border-radius: 100%
			border: 1px solid var(--color-white)
			background-color: var(--color-dark-gray)
			opacity: .5
			transition: all 0.3s ease
			@media screen and ( max-width: 1023.98px ), ( any-hover: none )
				display: none
		&--1
			top: 0%
			left: 0%
		&--2
			top: 500px
			left: 1300px
		&--3
			top: 200px
			left: 2700px
		&--4
			top: 1400px
			left: 2500px
		&--5
			top: 1600px
			left: 600px
		&--1,
		&--2,
		&--3,
		&--4,
		&--5
			@media screen and ( max-width: 1023.98px ), ( any-hover: none )
				top: unset
				left: unset
	&__title
		max-width: 60%
		font-size: clamp(16px, 2.5rem, 32px)
		margin-bottom: 30px
		@media screen and ( max-width: 1023.98px )
			max-width: 100%
		@media screen and ( max-width: 480px )
			font-size: 22px !important
	&__text
		font-size: clamp(14px, 2rem, 24px)
		font-weight: 100
		text-align: center
		&:not(:last-child)
			margin-bottom: 15px

.about-greetings
	.portfolio-arrow
		right: -70px
		bottom: -100px
		transform: rotate(26deg) translateY(-40%)
		@media screen and ( max-width: 1400px )
			right: -200px
			bottom: -100px
	.about__frame-content
		flex-direction: column
	.about__title
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			font-size: clamp(18px, 3rem, 32px)
	&__text
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			max-width: 80%
			font-size: clamp(16px, 2.25rem, 28px)

.about-coffee
	.portfolio-arrow
		right: -230px
		top: 280px
		transform: rotate(-5deg) translateY(-40%)
		@media screen and ( max-width: 1400px )
			right: -280px
	.about__frame-content
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-template-rows: auto 1fr
		gap: 25px
		@media screen and ( max-width: 1400px )
			grid-template-columns: 5fr 3fr
		@media screen and ( max-width: 1023.98px )
			display: block
	.about__title
		margin-bottom: 0
		align-self: center
		grid-column: 1 / -1
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			margin-bottom: 40px
	&__content
		height: 100%
		display: flex
		flex-direction: column
		justify-content: center
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			margin-bottom: 30px
	&__text
		text-align: left
		@media screen and ( max-width: 1400px )
			font-size: 18px
		&:not(:last-child)
			margin-bottom: clamp(14px, 2rem, 24px)
	&__images
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-template-rows: repeat(2, 1fr)
		grid-auto-rows: auto
		gap: 25px
		@media screen and ( max-width: 1400px )
			gap: 10px
	&__img
		width: 100%
		height: 250px
		object-fit: cover
		object-position: center
		border-radius: 20px
		position: relative
		@media screen and ( max-width: 1400px )
			height: 150px
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			grid-template-rows: repeat(2, minmax(300px, 500px))
			height: 100%
			max-height: 100%
	&__img-caption
		text-align: center
		font-size: clamp(12px, 1.5rem, 18px)
		font-weight: 100
		grid-column: 1 / -1

.about-dreads
	.portfolio-arrow
		transform: rotate(105deg) translateX(-50%)
		left: 40px
		bottom: -550px
		@media screen and ( max-width: 1400px )
			left: -120px
			bottom: -550px
	.about__frame-content
		display: grid
		grid-template-columns: 3fr 2fr
		grid-template-rows: auto 1fr
		gap: 25px
		@media screen and ( max-width: 1400px )
			grid-template-columns: 1fr 3fr
		@media screen and ( max-width: 600px )
			display: block
	.about__title
		margin-bottom: 0
		align-self: center
		grid-column: 1 / -1
		@media screen and ( max-width: 1400px )
			font-size: 28px
			max-width: 90%
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			margin-bottom: 40px
			font-size: clamp(16px, 2.5rem, 32px)
	&__text
		text-align: left
		@media screen and ( max-width: 1400px )
			font-size: 22px
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			font-size: clamp(14px, 2rem, 24px)
	&__images
		display: grid
		grid-template-columns: repeat(2, 1fr)
		gap: 10px
		@media screen and ( max-width: 1400px )
			grid-template-columns: 1fr
		@media screen and ( max-width: 600px )
			margin-bottom: 30px
			grid-template-columns: repeat(2, 1fr)
	&__img
		width: 100%
		height: 100%
		object-fit: cover
		border-radius: 20px
		@media screen and ( max-width: 1400px )
			max-height: 200px
			object-position: top
		@media screen and ( max-width: 600px )
			max-height: 400px

.about-facts
	.portfolio-arrow
		left: -550px
		bottom: 160px
		transform: rotate(180deg) translateX(-50%)
		@media screen and ( max-width: 1400px )
			left: -650px
			bottom: 180px
	.about__title
		@media screen and ( max-width: 1400px )
			font-size: 24px
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			margin-bottom: 40px
	.about__frame-content
		display: block
	&__list
	&__li
		font-size: clamp(14px, 2rem, 24px)
		font-weight: 100
		margin-bottom: clamp(15px, 2rem, 40px)
		background-image: url('@img/logo-white.png')
		background-position: left 7px
		background-size: 30px
		background-repeat: no-repeat
		padding-left: 50px
		min-height: 50px
		display: flex
		align-items: center
		@media screen and ( max-width: 1400px )
			font-size: 18px
		@media screen and ( max-width: 1023.98px ), ( any-hover: none )
			font-size: clamp(14px, 2rem, 24px)
		@media screen and ( max-width: 480px )
			background-position: left 2px
			padding-left: 30px
			background-size: 20px
			min-height: 30px
		&:not(:last-child)
			margin-bottom: 20px
			@media screen and ( max-width: 1400px )
				margin-bottom: 10px

.about-thanks
	min-height: 650px
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		min-height: unset
		padding-bottom: clamp(60px, 1rem, 100px)
	.about__frame-content
		flex-direction: column
	&__ul
		display: flex
		flex-direction: column
		align-items: center
	&__li
		font-size: clamp(14px, 2rem, 24px)
		font-weight: 100
		display: inline-block
		width: fit-content
		position: relative
		overflow: hidden
		padding-right: 8px
		@media screen and ( any-hover: hover )
			&:hover
				&::before
					opacity: 1
					transform: scaleX(1)
					transform-origin: left
				&::after
					opacity: 1
					transform: scaleY(1)
					transform-origin: top
		&::before,
		&::after
			content: ''
			position: absolute
			bottom: 0
			background: #fff
			opacity: 0
			transition: opacity 0.4s ease, transform 0.4s ease
		&::before
			left: 0
			width: 100%
			height: 1px
			transform: scaleX(0)
			transform-origin: right
		&::after
			right: 0
			width: 1px
			height: 100%
			transform: scaleY(0)
			transform-origin: bottom

img
	filter: grayscale(0.3)

.portfolio-arrow
	pointer-events: none
	position: absolute
	width: 800px
	height: 400px
	color: white
	opacity: 0
	&.arrow-animation
		animation: portfolio-arrow 5s ease 0.5s infinite
	@media screen and ( max-width: 1023.98px ), ( any-hover: none )
		display: none

@keyframes portfolio-arrow
	0%
		opacity: 0
	15%
		opacity: .5
	30%
		opacity: 0
	100%
		opacity: 0
