doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		include utils/fonts
		title Главная
	body.scroll-3d
		include components/header
		main.wrapper.scroll-3d
			.slider
				section.slider__frame.slide
					.slide__content
						h1.slide__title Здравствуйте. #[br] Меня зовут Сергей, и это мой сайт&nbsp;-&nbsp;визитка.
				section.slider__frame.slide
					.slide__content.slide__content--grid-cols
						img.slide__image(src="@img/photo.png", alt="Фото Сергея")
						h2.slide__subtitle 
							p Почти два года назад я выбрал путь фронтенд разработчика.
							p Сейчас же я могу гарантировать каждому своему клиенту быстрое и качественное выполнение заказа.
				section.slider__frame.slide
					.slide__content.slide__content--grid-rows
						h2.slide__subtitle Что я могу вам предложить?
						.slide__cards
							.slide__cards-col
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Выполнение заказа в срок
									.ac-panel
										p.card__text Если я не успею сдать заказ в срок, то за каждый день после дедлайна буду делать скидку на 1000 рублей. Для вас это гарантия, а для меня мотивация. 
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Надежная верстка
									.ac-panel
										p.card__text Верстка будет готова к изменению контента, не важно, больше его станет или меньше, будет изображение в посте или нет, не важен и размер изображения. Верстка не сломается и будет вести себя адекватно.
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Оптимизация
									.ac-panel
										p.card__text Вебсайт будет максимально оптимизирован для быстрой загрузки: исходные файлы, изображения, шрифты и т.д. будут сжаты. Зеленая зона PageSpeed Insights.
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Лояльность к макету
									.ac-panel
										p.card__text Могу работать с любыми макетами: если нет версий для телефонов и планшетов - сделаю их сам, подготовлю изображения, переведу иконки в вектор, если они в .png формате и т.д.
							.slide__cards-col
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Справедливая цена
									.ac-panel
										p.card__text Цена на ваш заказ будет соответствовать уровню моих услуг. Я не буду искусственно завышать цену или сильно занижать ее, чтобы получить заказ. Я уважаю как клиента, так и свое время. 
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Адаптивность и кроссбраузерность
									.ac-panel
										p.card__text Ваш сайт будет одинаково выглядеть в любом браузере и правильно адаптироваться под все виды устройств.
								article.slide__card.card.ac
									h3.card__title.ac-header.ac-trigger Работаю каждый день
									.ac-panel
										p.card__text Во время выполнения заказа я работаю без выходных. Благодаря этому ваш заказ будет выполнен максимально быстро. Также вы сможете каждый день наблюдать за прогрессом, сразу же вносить правки, если они будут.
				section.slider__frame.slide
					.slide__content.slide__content--grid-rows
						h2.slide__subtitle Технологии, которые я использую в работе:
						.slide__technologies
							.slide__technology.card-technology
								h3.card-technology__title HTML 5
								img.card-technology__image(src="@img/technologies/HTML.png", alt="HTML logo")
							.slide__technology.card-technology
								h3.card-technology__title PUG
								img.card-technology__image(src="@img/technologies/pug.png", alt="PUG logo")
							.slide__technology.card-technology
								h3.card-technology__title CSS 3
								img.card-technology__image(src="@img/technologies/CSS.png", alt="CSS logo")
							.slide__technology.card-technology
								h3.card-technology__title SASS
								img.card-technology__image(src="@img/technologies/sass.png", alt="SASS logo")
							.slide__technology.card-technology
								h3.card-technology__title Javascript
								img.card-technology__image(src="@img/technologies/JavaScript.png", alt="Javascript logo")
							.slide__technology.card-technology
								h3.card-technology__title VS Code
								img.card-technology__image(src="@img/technologies/vscode.png", alt="VS Code logo")
							.slide__technology.card-technology
								h3.card-technology__title Gulp
								img.card-technology__image(src="@img/technologies/gulp.png", alt="Gulp logo")
							.slide__technology.card-technology
								h3.card-technology__title Webpack
								img.card-technology__image(src="@img/technologies/webpack.png", alt="Webpack logo")
							.slide__technology.card-technology
								h3.card-technology__title Figma
								img.card-technology__image(src="@img/technologies/Figma.png", alt="Figma logo")
							.slide__technology.card-technology
								h3.card-technology__title Photoshop
								img.card-technology__image(src="@img/technologies/photoshop.png", alt="Adobe Photoshop logo")
							.slide__technology.card-technology
								h3.card-technology__title БЭМ
								img.card-technology__image(src="@img/technologies/BEM.png", alt="BEM logo")
							.slide__technology.card-technology
								h3.card-technology__title Tailwind
								img.card-technology__image(src="@img/technologies/Tailwind.png", alt="Tailwind logo")
							.slide__technology.card-technology
								h3.card-technology__title Bootstrap
								img.card-technology__image(src="@img/technologies/Bootstrap.png", alt="Bootstrap logo")
							.slide__technology.card-technology
								h3.card-technology__title GIT
								img.card-technology__image(src="@img/technologies/Git.png", alt="GIT logo")
				section.slider__frame.slide
					.slide__content.slide__content--grid-rows
						h2.slide__subtitle Контактная форма
						form.slide__form.form#contact-form
							.form__inputs
								label.form__label.form__label--name
									input#name.input.form__input(type="text" name='name' placeholder='Введите имя' requaired)
									+svg('error', 'error')
									+svg('success', 'success')
								label.form__label.form__label--phone
									input#phone.input.form__input(type="tel" name='phone' placeholder='Введите телефон' requaired)
									+svg('error', 'error')
									+svg('success', 'success')
								label.form__label.form__label--email
									input#email.input.form__input(type="email" name='email' placeholder='Введите e-mail' requaired)
									+svg('error', 'error')
									+svg('success', 'success')
								label.form__label.form__label--textarea
									textarea#message.input.form__textarea(name='message' placeholder='Введите сообщение')
							button.btn-reset.form__button Отправить
				section.slider__frame.slide
					.slide__content.slide__content--grid-rows
						h2.slide__subtitle Ссылки на мои социальные сети
						ul.slide__social.social
							li.social__li
								a.social__link(href="https://t.me/ISV_frontend" data-hover-name="Telegram" target="_blank")
									+svg('telegram', 'telegram')
									| Telegram
							li.social__li
								a.social__link(href="https://wa.me/+79805253868" data-hover-name="Whatsapp" target="_blank")
									+svg('whatsapp', 'whatsapp')
									| Whatsapp
							li.social__li
								a.social__link(href="https://vk.com/isv_frontend" data-hover-name="VK" target="_blank")
									+svg('vk', 'vk')
									| VK
							li.social__li
								a.social__link(href="mailto:sergey2611.ivanov@yandex.ru" data-hover-name="E-mail" target="_blank")
									+svg('email', 'email')
									| E-mail

		//- include components/header

		//- include components/footer
		include utils/scripts