doctype html
html(lang="ru")
	head
		include utils/mixins
		include utils/meta
		include utils/links
		include utils/fonts
		title Обо мне
	body
		include components/header
		//- main
		section.about
			.about__frame.about__frame--1
				h1.slide__title.about__title Обо мне 1111111111111111111111111111111
			.about__frame.about__frame--2
				h1.slide__title.about__title Обо мне 2222222222222222222222222222222
			.about__frame.about__frame--3
				h1.slide__title.about__title Обо мне 3333333333333333333333333333333
			.about__frame.about__frame--4
				h1.slide__title.about__title Обо мне 4444444444444444444444444444444
			.about__frame.about__frame--5
				h1.slide__title.about__title Обо мне 5555555555555555555555555555555
				
		include components/website-modal

		//- include components/footer
		include utils/scripts