//----------------------IMPORTS----------------------//
@import utils/mixins

//----------------------VARS----------------------//
:root
	--color-white: #ffffff
	--color-black: #000000
	--color-accent: #FF8066
	--color-dark-gray: #0f0f0f
	--color-accent-rgb: 255, 128, 102

	--size-index: calc(1vw + 1vh)

	--font-size: calc(var(--size-index) * 0.7)
	--font-family: Raleway, sans-serif
	--font-weight: 300

	--line-height: 1.75

	--container: 1300px

	--body-height: 5000px

	--transition-duration: 1s
	--transition-function: cubic-bezier(.9,-0.23,.38,1)

	--gutter: 80px

//----------------------ANIMATIONS----------------------//	
@keyframes fadeAnimation
	0%
		opacity: 1
	50%
		opacity: 0.65
	100%
		opacity: 1

//----------------------GLOBAL STYLES----------------------//
*,
*::after,
*::before
	box-sizing: border-box

body,
html
	height: 100%
	font-size: var(--font-size)
	overflow-x: hidden

svg path
	color: currentColor
	stroke: inherit
	fill: inherit

a
	color: inherit
	text-decoration: none

body
	color: var(--color-white)
	background: var(--color-black)
	font-family: var(--font-family)
	font-weight: var(--font-weight)
	line-height: var(--line-height)
	letter-spacing: 2px

@media screen and ( min-width: 1023.98px )
	body.scroll-3d
		scrollbar-width: none
	body.scroll-3d::-webkit-scrollbar
		display: none

.container
	@include container(var(--container))

.lock-scroll
	overflow: hidden

.btn-reset
	border: none
	outline: none
	background-color: transparent
	font-family: var(--font-family)
	font-size: 1rem
	cursor: pointer

::selection
	background: #3b3b3b

::-moz-selection
	background: #3b3b3b

.input
	font-family: inherit
	font-weight: 200
	color: rgba(255, 255, 255, 0.65)
	font-size: 20px
	padding: 1em
	background-color: transparent
	border: 1px solid rgba(255, 255, 255, 0.4)
	border-radius: 10px
	transition: border-color 0.3s ease, border-radius 0.3s ease
	@media screen and ( max-width: 768px )
		font-size: 16px
	@media screen and ( any-hover: hover )
		&:hover
			border-color: rgba(255, 255, 255, 0.7)
			border-radius: 0
	&:focus-visible
		outline: none
		border-color: rgba(255, 255, 255, 0.7)
		border-radius: 0
